@page
@using Abc.Pages.Extensions
@model Abc.Soft.Areas.Quantity.Pages.UnitTerms.EditModel

@{
    Layout = "_Edit";
}

    <body>
        <input type="hidden" asp-for="Item.MasterId" />
        <input type="hidden" asp-for="Item.TermId" />
        @Html.DisabledControlsFor(model => model.Item.MasterId)
        @Html.DisabledControlsFor(model => model.Item.TermId)
        @Html.EditControlsFor(x => x.Item.Power)
        @Html.EditControlsFor(x => x.Item.ValidFrom)
        @Html.EditControlsFor(x => x.Item.ValidTo)

    </body>